[submodule "cosim/import/basejump_stl"]
	path = cosim/import/basejump_stl
	url = https://github.com/bespoke-silicon-group/basejump_stl
[submodule "cosim/import/black-parrot"]
	path = cosim/import/black-parrot
	url = https://github.com/black-parrot/black-parrot.git
