variables:
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: none

stages:
  - verilator
  - vcs
  - vivado
  - fpga
  - all

.job_template: &job_definition
  only:
    - ci_test
  variables:
    VIVADO_MODE: "batch"
  artifacts:
    name: $CI_JOB_ID
  dependencies: []

simple-example-verilator:
  <<: *job_definition
  stage: verilator
  tags:
    - verilator
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="simple"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2022.1"
    - export EXAMPLE_NAME="simple-example"
  script:
    - make -C cosim/simple-example/verilator/ run
    - grep "bp_zynq_pl:.*done() called, exiting" cosim/simple-example/verilator/run.log
  artifacts:
    paths:
      - cosim/simple-example/verilator/run.log

simple-example-vcs:
  <<: *job_definition
  stage: vcs
  tags:
    - vcs
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="simple"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2022.1"
    - export EXAMPLE_NAME="simple-example"
  script:
    - make -C cosim/simple-example/vcs/ run
    - grep "bp_zynq_pl:.*done() called, exiting" cosim/simple-example/vcs/run.log
  artifacts:
    paths:
      - cosim/simple-example/vcs/run.log

simple-example-vivado:
  <<: *job_definition
  stage: vivado
  tags:
    - vivado
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="simple"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2022.1"
    - export EXAMPLE_NAME="simple-example"
  script:
    - echo "Simple example does not have a vivado script, copying from local copy"
    - cp $CI_MISC_DIR/simple_bd_1.pynqz2.tar.xz.b64 cosim/simple-example/simple_bd_1.pynqz2.tar.xz.b64
  artifacts:
    paths:
      - cosim/simple-example/simple_bd_1.pynqz2.tar.xz.b64

simple-example-fpga:
  <<: *job_definition
  stage: fpga
  tags:
    - fpga
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="simple"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2022.1"
    - export EXAMPLE_NAME="simple-example"
  script:
    - $CI_PROJECT_DIR/ci/fpga-setup.sh
    - cat $CI_PROJECT_DIR/ci/fpga-run.sh | envsubst > $CI_PROJECT_DIR/ci/fpga-run-envsubst.sh
    - cp $CI_PROJECT_DIR/cosim/simple-example/simple_bd_1.pynqz2.tar.xz.b64 $CI_MOUNT_DIR/zynq-parrot/cosim/simple-example/simple_bd_1.pynqz2.tar.xz.b64
    - ssh xilinx@$CI_PYNQZ2_IP 'bash -s ' < $CI_PROJECT_DIR/ci/fpga-run-envsubst.sh
    - cp $CI_MOUNT_DIR/zynq-parrot/cosim/simple-example/fpga/run.log $CI_PROJECT_DIR/cosim/simple-example/fpga/run.log
    - grep "bp_zynq_pl:.*done() called, exiting" cosim/simple-example/fpga/run.log
  artifacts:
    paths:
      - cosim/simple-example/fpga/run.log
  dependencies:
    - simple-example-vivado

shell-example-verilator:
  <<: *job_definition
  stage: verilator
  tags:
    - verilator
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="shell"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2022.1"
    - export EXAMPLE_NAME="shell-example"
  script:
    - make -C cosim/shell-example/verilator/ run
    - grep "bp_zynq_pl:.*done() called, exiting" cosim/shell-example/verilator/run.log
  artifacts:
    paths:
      - cosim/shell-example/verilator/run.log

shell-example-vcs:
  <<: *job_definition
  stage: verilator
  tags:
    - vcs
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="shell"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2022.1"
    - export EXAMPLE_NAME="shell-example"
  script:
    - make -C cosim/shell-example/vcs/ run
    - grep "bp_zynq_pl:.*done() called, exiting" cosim/shell-example/vcs/run.log
  artifacts:
    paths:
      - cosim/shell-example/vcs/run.log

shell-example-vivado:
  <<: *job_definition
  stage: vivado
  tags:
    - vivado
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="shell"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2022.1"
    - export EXAMPLE_NAME="shell-example"
  script:
    - echo "Building shell-example for Pynq Z2"
    - make -C cosim/shell-example/vivado clean fpga_build
    - echo "Packing up bitstream"
    - make -C cosim/shell-example/vivado pack_bitstream
  artifacts:
    paths:
      - cosim/shell-example/vivado/vivado.log
      - cosim/shell-example/shell_bd_1.pynqz2.tar.xz.b64

shell-example-fpga:
  <<: *job_definition
  stage: fpga
  tags:
    - fpga
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="shell"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2022.1"
    - export EXAMPLE_NAME="shell-example"
  script:
    - $CI_PROJECT_DIR/ci/fpga-setup.sh
    - cat $CI_PROJECT_DIR/ci/fpga-run.sh | envsubst > $CI_PROJECT_DIR/ci/fpga-run-envsubst.sh
    - cp $CI_PROJECT_DIR/cosim/shell-example/shell_bd_1.pynqz2.tar.xz.b64 $CI_MOUNT_DIR/zynq-parrot/cosim/shell-example/shell_bd_1.pynqz2.tar.xz.b64
    - ssh xilinx@$CI_PYNQZ2_IP 'bash -s ' < $CI_PROJECT_DIR/ci/fpga-run-envsubst.sh
    - cp $CI_MOUNT_DIR/zynq-parrot/cosim/shell-example/fpga/run.log $CI_PROJECT_DIR/cosim/shell-example/fpga/run.log
    - grep "bp_zynq_pl:.*done() called, exiting" cosim/shell-example/fpga/run.log
  artifacts:
    paths:
      - cosim/shell-example/fpga/run.log
  dependencies:
    - shell-example-vivado
    # We make this a dependency so we only run one at a time
    - simple-example-fpga

double-shell-example-verilator:
  <<: *job_definition
  stage: verilator
  tags:
    - verilator
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="double_shell"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2020.1"
    - export EXAMPLE_NAME="double-shell-example"
  script:
    - make -C cosim/double-shell-example/verilator/ run
    - grep "bp_zynq_pl:.*done() called, exiting" cosim/double-shell-example/verilator/run.log
  artifacts:
    paths:
      - cosim/double-shell-example/verilator/run.log

double-shell-example-vcs:
  <<: *job_definition
  stage: vcs
  tags:
    - vcs
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="double_shell"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2020.1"
    - export EXAMPLE_NAME="double-shell-example"
  script:
    - make -C cosim/double-shell-example/vcs/ run
    - grep "bp_zynq_pl:.*done() called, exiting" cosim/double-shell-example/vcs/run.log
  artifacts:
    paths:
      - cosim/double-shell-example/vcs/run.log

double-shell-example-vivado:
  <<: *job_definition
  stage: vivado
  tags:
    - vivado
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="double_shell"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2020.1"
    - export EXAMPLE_NAME="double-shell-example"
  script:
    - echo "Building double-shell-example for Pynq Z2"
    - make -C cosim/double-shell-example/vivado clean fpga_build
    - echo "Packing up bitstream"
    - make -C cosim/double-shell-example/vivado pack_bitstream
  artifacts:
    paths:
      - cosim/double-shell-example/vivado/vivado.log
      - cosim/double-shell-example/double_shell_bd_1.pynqz2.tar.xz.b64

double-shell-example-fpga:
  <<: *job_definition
  stage: fpga
  tags:
    - fpga
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="double_shell"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2020.1"
    - export EXAMPLE_NAME="double-shell-example"
  script:
    - $CI_PROJECT_DIR/ci/fpga-setup.sh
    - cat $CI_PROJECT_DIR/ci/fpga-run.sh | envsubst > $CI_PROJECT_DIR/ci/fpga-run-envsubst.sh
    - cp $CI_PROJECT_DIR/cosim/double-shell-example/double_shell_bd_1.pynqz2.tar.xz.b64 $CI_MOUNT_DIR/zynq-parrot/cosim/double-shell-example/double_shell_bd_1.pynqz2.tar.xz.b64
    - ssh xilinx@$CI_PYNQZ2_IP 'bash -s ' < $CI_PROJECT_DIR/ci/fpga-run-envsubst.sh
    - cp $CI_MOUNT_DIR/zynq-parrot/cosim/double-shell-example/fpga/run.log $CI_PROJECT_DIR/cosim/double-shell-example/fpga/run.log
    - grep "bp_zynq_pl:.*done() called, exiting" cosim/double-shell-example/fpga/run.log
  artifacts:
    paths:
      - cosim/double-shell-example/fpga/run.log
  dependencies:
    - double-shell-example-vivado
    # We make this a dependency so we only run one at a time
    - shell-example-fpga

dram-example-fpga:
  <<: *job_definition
  stage: fpga
  tags:
    - fpga
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="dram"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2022.1"
    - export EXAMPLE_NAME="dram-example"
  script:
    - $CI_PROJECT_DIR/ci/fpga-setup.sh
    - cat $CI_PROJECT_DIR/ci/dram-run.sh | envsubst > $CI_PROJECT_DIR/ci/dram-run-envsubst.sh
    - ssh xilinx@$CI_PYNQZ2_IP 'bash -s ' < $CI_PROJECT_DIR/ci/dram-run-envsubst.sh
    - cp $CI_MOUNT_DIR/zynq-parrot/cosim/dram-example/fpga/run.log $CI_PROJECT_DIR/cosim/dram-example/fpga/run.log
    - grep "bp_zynq_pl:.*done() called, exiting" cosim/dram-example/fpga/run.log
  artifacts:
    paths:
      - cosim/dram-example/fpga/run.log
  dependencies:
    # We make this a dependency so we only run one at a time
    - double-shell-example-fpga

black-parrot-example-verilator:
  <<: *job_definition
  stage: verilator
  tags:
    - verilator
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="blackparrot"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2022.1"
    - export EXAMPLE_NAME="black-parrot-example"
  script:
    - make -C cosim/black-parrot-example/verilator/ run NBF_FILE=$SOFTWARE_NBF_DIR/bp-tests/hello_world.nbf
    - grep "bp_zynq_pl:.*done() called, exiting" cosim/black-parrot-example/verilator/run.log
  artifacts:
    paths:
      - cosim/black-parrot-example/verilator/run.log

black-parrot-example-vcs:
  <<: *job_definition
  stage: vcs
  tags:
    - vcs
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="blackparrot"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2022.1"
    - export EXAMPLE_NAME="black-parrot-example"
  script:
    - make -C cosim/black-parrot-example/vcs/ run NBF_FILE=$SOFTWARE_NBF_DIR/bp-tests/hello_world.nbf
    - grep "bp_zynq_pl:.*done() called, exiting" cosim/black-parrot-example/vcs/run.log
  artifacts:
    paths:
      - cosim/black-parrot-example/vcs/run.log

black-parrot-example-vivado:
  <<: *job_definition
  stage: vivado
  tags:
    - vivado
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="blackparrot"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2022.1"
    - export EXAMPLE_NAME="black-parrot-example"
  script:
    - echo "Building black-parrot-example for Pynq Z2"
    - make -C cosim/black-parrot-example/vivado clean fpga_build
    - echo "Packing up bitstream"
    - make -C cosim/black-parrot-example/vivado pack_bitstream
  artifacts:
    paths:
      - cosim/black-parrot-example/vivado/vivado.log
      - cosim/black-parrot-example/blackparrot_bd_1.pynqz2.tar.xz.b64

black-parrot-example-fpga:
  <<: *job_definition
  stage: fpga
  tags:
    - fpga
  before_script:
    - git submodule update --init --checkout --recursive cosim/import
    - export BASENAME="blackparrot"; export BOARDNAME="pynqz2"; export VIVADO_VERSION="2022.1"
    - export EXAMPLE_NAME="black-parrot-example"
    - export NBF_FILE=/home/xilinx/mnt/zynqparrot_nbf/bp-tests/hello_world.nbf
  script:
    - $CI_PROJECT_DIR/ci/fpga-setup.sh
    - cat $CI_PROJECT_DIR/ci/blackparrot-run.sh | envsubst > $CI_PROJECT_DIR/ci/blackparrot-run-envsubst.sh
    - cp $CI_PROJECT_DIR/cosim/black-parrot-example/blackparrot_bd_1.pynqz2.tar.xz.b64 $CI_MOUNT_DIR/zynq-parrot/cosim/black-parrot-example/blackparrot_bd_1.pynqz2.tar.xz.b64
    - cp -r $SOFTWARE_NBF_DIR $CI_MOUNT_DIR/zynqparrot_nbf
    - ssh xilinx@$CI_PYNQZ2_IP 'bash -s ' < $CI_PROJECT_DIR/ci/blackparrot-run-envsubst.sh
    - cp $CI_MOUNT_DIR/zynq-parrot/cosim/black-parrot-example/fpga/run.log $CI_PROJECT_DIR/cosim/black-parrot-example/fpga/run.log
    - grep "bp_zynq_pl:.*done() called, exiting" cosim/black-parrot-example/fpga/run.log
  artifacts:
    paths:
      - cosim/black-parrot-example/fpga/run.log
  dependencies:
    - black-parrot-example-vivado
    # We make this a dependency so we only run one at a time
    - dram-example-fpga

