[submodule "cosim/import/black-parrot"]
	path = cosim/import/black-parrot
	url = https://github.com/black-parrot/black-parrot.git
  branch = zynqparrot_axi_hygienic
[submodule "cosim/import/black-parrot-sdk"]
	path = cosim/import/black-parrot-sdk
	url = https://github.com/black-parrot-sdk/black-parrot-sdk
	branch = panic_room
