trace.fst*
obj_dir/
*.jou
*.log
*.str
*.pyc
ip_repo/
vcdplus.vpd
vc_hdrs.h
ucli.key
simv*
csrc
DVEfiles
stack.info*
bsg_cadenv/
*.nbf
*.nbf.tar.xz
*.tar.xz.b64
control-program
sds_trace_data.dat
xcelium.d/
.simvision/
dump.shm/
.bpad/
xrun.history
*.riscv32
*.riscv64
flist.*vcs
*.rv64o
*.rv32o
*.riscv
*.swp
bsg_bladerunner_pkg.sv
bsg_blackparrot_pkg.sv
bsg_bladerunner_configuration.sv
bsg_manycore_machine.h
*_bd_proj*
*_ip_proj*
*_bd_1.tcl
*_bd_1.map
*_bd_1.bit
*_bd_1.hwh
boost/
.Xil/
bsg_bootrom.*
NA/
xrun.key
prog.elf
*.trace
install/
