trace.fst*
obj_dir/
*.jou
*.log
*.str
*.pyc
ip_repo/
vcdplus.vpd
vc_hdrs.h
ucli.key
simv*
csrc
DVEfiles
stack.info*
bsg_cadenv/
*.nbf
*.nbf.tar.xz
*.tar.xz.b64
*.bit
*.hwh
control-program
sds_trace_data.dat
